@tailwind base;
@tailwind components;
@tailwind utilities;
/* #2c88f4 */
body {
  background: #2c88f4 url("assets/2.jpg");
  backdrop-filter: blur(50px);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  height: 100vh;
  margin: 0;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes slide-down {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20%);
    opacity: 0;
  }
}

.animate-slide-down {
  animation: slide-down 0.4s ease-out forwards;
}

.animate-slide-up {
  animation: slide-up 0.4s ease-out forwards;
}
